#body-mood {
  background: url(./mood.jpg) no-repeat;
  background-size: 100% 100%;
  height: 100vh;
  width: 100vw;
}

#mood-of-the-day {
  position: absolute;
  width: 60%;
  top: 60%;
  left: 20%;
  right: 20%;
}
#options-table td {
}
#options-table button {
  cursor: pointer;
  background-color: bisque;
  border: 5px solid rgb(228, 195, 195);
  width: 8rem;
  height: 5rem;
}
