#body {
  background: url(./main.png) no-repeat;
  background-size: 100% 100%;

  /* background-size: center; */
  height: 100vh;
  width: 100vw;
}
#tasks {
  width: 30%;
  background: rgb(236, 215, 170);
  height: 5%;
  border: 2px solid rgb(184, 212, 160);
  position:absolute;
  bottom: 8px;
  left: 16px;
}
